*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/* qui inizia il header */
header{
    height: 150px;
    background-color: #000000;
    position: fixed;
    width: 100%;
    z-index: 100;
}
    /* qui inizia lo stile icon header */
#nav-icon{
    color: white;
    position: absolute;
    display: flex;
    gap: 10px;
    top: 50px;
    right: 1%;

}

.icon-background-nav{
    background-color: rgba(255, 255, 255, 0.4);
    padding: 15px;
    border-radius: 10px;
}
    /* qui finisce lo stile icon header */

/* qui finisce il header */

/* qui inizia il main */

.screen{
    width: 100%;
    height: 100vh;
    position: relative;
}

.controller{
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0%;
    left: 0%;
}

/* qui finisce il main */

/* DEBUG */
.screen{
    background-color: blueviolet;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.controller{
    background-color: aqua;
}

.square-space{
    display: flex;

    height: 150px;
    width: 150px;
    background-color: burlywood;
}